table{
    width: 80%;
    margin: auto;
}

td, th{
    padding: 7px;
}

th{
    text-align: center;

    background-color: green;
}

td:hover {background-color: darkgrey;}

td{
    background-color: lightgray;
}